.sender-navbar {
    background: linear-gradient(45deg, #ff5722 0%,#ff9800 100%);
}
.nav-link {
    color: white !important;
}

.btn-primary {
    background-color: #009688 !important;
    border: 0; !important;
    border-radius: 0; !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12) !important;
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 2px;
    font-family: Roboto, Helvetica, sans-serif !important;
}